.icon-button {
    height: fit-content;
    width: fit-content;
    line-height: normal;
}

.diamond-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.question-type {
    font-weight: 500;
}

::ng-deep .reward .mat-form-field-infix {
    width: 60px !important;
}

::ng-deep .reward .mat-form-field-subscript-wrapper {
    overflow: visible !important;
}

.type-info-text {
    font-size: 16px;
    font-weight: 500;
}

.list-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.single-line-error {
    max-width: 150px;
    overflow: visible;
    white-space: nowrap;
}