<mat-card fxFlex fxLayout="column" fxLayoutGap="5px" class="question-card">
    <div fxLayout="row" *ngIf="isAddOrEditMode" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="90">
            <mat-form-field aria-label="Question title" fxFlex appearance="standard">
                <mat-label>Question </mat-label>
                <input matInput maxlength="255" [formControl]="questionFormGroup.getFormControl('questionText')">
                <mat-error
                    *ngIf="questionFormGroup.getFormControl('questionText').errors?.['required'] && questionFormGroup.getFormControl('questionText').touched">
                    The Question field is mandatory.
                </mat-error>
            </mat-form-field>
            <mat-form-field aria-label="Question type">
                <mat-label>Question type</mat-label>
                <mat-select [disabled]="question.id != null" (selectionChange)="onQuestionTypeChanged($event)"
                    [formControl]="questionFormGroup.getFormControl('questionType')" disableOptionCentering>
                    <mat-option [value]="questionType.id" *ngFor="let questionType of questionTypes">
                        {{questionType.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="reward" aria-label="Reward points" appearance="standard">
                <mat-label>Reward</mat-label>
                <input matInput type="number" [formControl]="questionFormGroup.getFormControl('rewardPoints')">
                <mat-error class="single-line-error"
                    *ngIf="questionFormGroup.getFormControl('rewardPoints').errors?.['required'] && questionFormGroup.getFormControl('rewardPoints').touched">
                    The Reward field is mandatory.
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <button [disabled]="questionFormGroup.invalid || anyChoiceInAddOrEditMode" (click)="onFinish()"
                mat-icon-button color="primary" class="icon-button">
                <mat-icon>check</mat-icon>
            </button>
            <button (click)="onCancelOperation()" mat-icon-button color="warn" class="icon-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div fxLayout="row" *ngIf="!isAddOrEditMode" fxLayoutAlign="space-between center">
        <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{question.text}}</div>
            <div fxLayout="row" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="5px">
                    <div>{{question.rewardPoints}}</div>
                    <mat-icon class="diamond-icon" color="primary">diamond</mat-icon>
                </div>
                <div class="question-type" *ngIf="question.questionType == questionTypeEnum.SingleChoice">Single choice
                </div>
                <div class="question-type" *ngIf="question.questionType == questionTypeEnum.MultipleChoice">Multiple
                    choice
                </div>
                <div class="question-type" *ngIf="question.questionType == questionTypeEnum.WrittenAnswer">Short answer
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <button [disabled]="canNotEdit" (click)="onStartEdit()" mat-icon-button color="primary" class="icon-button">
                <mat-icon>edit</mat-icon>
            </button>
            <button [disabled]="canNotEdit" (click)="onClickDelete()" mat-icon-button color="warn" class="icon-button">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="!questionFormGroup.getFormControl('questionType').value" fxFlex fxLayout="row"
        fxLayoutAlign="center center" fxLayoutGap="7px">
        <mat-icon class="list-icon">format_list_bulleted</mat-icon>
        <span class="type-info-text">Please choose a type for the question from the dropdown above.</span>
    </div>
    <single-choice-config fxFlex fxLayout="column" [(choices)]="question.choices" [isReadonly]="!isAddOrEditMode"
        (onChoiceModeChanged)="onChoiceModeChanged($event)"
        *ngIf="questionFormGroup.getFormControl('questionType')?.value == questionTypeEnum.SingleChoice">
    </single-choice-config>
    <multiple-choice-config fxFlex fxLayout="column" [(choices)]="question.choices" [isReadonly]="!isAddOrEditMode"
        (onChoiceModeChanged)="onChoiceModeChanged($event)"
        *ngIf="questionFormGroup.getFormControl('questionType')?.value == questionTypeEnum.MultipleChoice">
    </multiple-choice-config>
    <written-answer fxFlex fxLayout="column" [(choices)]="question.choices" [isReadonly]="!isAddOrEditMode"
        *ngIf="questionFormGroup.getFormControl('questionType')?.value == questionTypeEnum.WrittenAnswer">
    </written-answer>
</mat-card>