@import './../../../../variables.scss';

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: lightgrey;
}

.add-choice-button {
    width: fit-content;
}

.choices {
    overflow-y: auto;
}

.readonly-choices {
    margin-top: 15px;
}

.readonly-choice {
    padding: 3px;
}

.inline-edit {
    cursor: pointer;
    padding: 3px;
}

.answer {
    background-color: #08e1ae;
    background-image: $green-gradient;
    color: white;
    border-radius: 4px;
}