<div *ngIf="!isReadonly" fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex fxLayout="column" fxLayoutGap="5px" class="choices">
        <inline-edit (click)="onChoiceClick(choice)"
            [ngClass]="{'answer' : choice.isAnswer && !anyChoiceInAddOrEditMode}" class="inline-edit"
            *ngFor="let choice of choices" [label]="'Choice'" [valueControl]="choiceTextControl" [(value)]="choice.text"
            [canNotEdit]="anyChoiceInAddOrEditMode" [model]="choice" [deleteButtonDisabled]="anyChoiceInAddOrEditMode"
            [isEditMode]="choice.isAddMode || choice.isEditMode" [hideDeleteButton]="choices.length <= 2"
            (onStart)="onStartEdit($event)" (onCancel)="onCancel($event)" (onFinish)="onFinish($event)"
            (onDelete)="onDelete($event)">
        </inline-edit>
    </div>
    <button [disabled]="anyChoiceInAddOrEditMode" (click)="onAddChoice()" class="add-choice-button" mat-raised-button
        color="primary">
        <mat-icon>add</mat-icon>
        Add choice
    </button>
</div>
<div *ngIf="isReadonly" fxFlex fxLayout="column" class="choices readonly-choices" fxLayoutGap="5px">
    <div *ngFor="let choice of choices" [ngClass]="{'answer' : choice.isAnswer}" class="readonly-choice">
        {{choice.text}}
    </div>
</div>