:host {
    width: 100%;
}

.clickable-row {
    cursor: pointer;
}

.clickable-text:hover {
    text-decoration: underline;
}

td .line {
    width: 3px;
    background-color: green;
    height: 30px;
    position: absolute;
    margin-left: 3px;
}

td.mat-cell:first-of-type {
    padding: 10px !important;
}

.hidden {
    display: none;
}

.line-cell {
    width: 20px;
}

.list-bullet {
    color: green;
    font-size: 30px;
    width: inherit;
    position: relative;
}

.lessons-table {
    width: 100%;
    font-weight: 500;
}

.diamond-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.icon-button {
    width: fit-content !important;
    height: fit-content !important;
    line-height: normal !important;
}