<table mat-table [dataSource]="lessonsDataSource" class="lessons-table" [ngClass]="{'clickable-row' : clickable}">
    <ng-container *ngIf="listItemSymbolType == listItemSymbolTypeEnum.Bullet" matColumnDef="line">
        <td class="line-cell" mat-cell *matCellDef="let element; let i = index">
            <li class="list-bullet">
                <div class="line" [ngClass]="{'hidden': i == lessonsDataSource.data?.length - 1}"></div>
            </li>
        </td>
    </ng-container>

    <ng-container *ngIf="listItemSymbolType == listItemSymbolTypeEnum.Arrow" matColumnDef="line">
        <td at-cell *matCellDef="let element; let i = index">
            <mat-icon color="primary">chevron_right</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <td mat-cell *matCellDef="let element" [ngClass]="{'clickable-text' : clickable}"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="learningTime">
        <td mat-cell *matCellDef="let element"> {{element.learningTime}} minutes </td>
    </ng-container>

    <ng-container matColumnDef="requiredPoints">
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.requiredPoints > 0" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <div> - {{element.requiredPoints}}</div>
                <mat-icon color="warn" class="diamond-icon">diamond</mat-icon>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="actions?.length > 0">
        <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                <button mat-icon-button *ngFor="let action of actions" (click)="action.onActionClick(element)"
                    class="{{action?.iconColor}} icon-button">
                    <mat-icon>{{action.icon}}
                    </mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="displayedColumns?.length">No Learning Pahts linked.</td>
    </tr>
</table>