@import "./../../../variables.scss";

.title {
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.add-icon {
    color: green;
    font-size: 25px;
    width: 25px;
    height: 25px;
}

.no-results {
    font-size: 20px;
    font-weight: bold;
}

.no-results-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.hidden {
    display: none !important;
}

.search-field {
    width: fit-content;
}

.lessons-table {
    tr.learning-path-row {
        height: 0px;
    }

    .lesson-row td {
        border-bottom-width: 0;
    }

    tr.lesson-row {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        cursor: pointer;
    }

    tr.lesson-row:not(.expanded-row):hover {
        border-color: currentColor;
        background: whitesmoke;
    }

    tr.mat-header-row {
        height: 50px !important;
        vertical-align: middle;
    }

    .learning-path-table {
        overflow: hidden;
        display: flex;
        width: 100%;
    }

    tr.lesson-row:not(.expanded-row) {
        height: 45px !important;
        vertical-align: middle;
    }

    .mat-cell,
    .mat-header-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.icon-button {
    height: fit-content;
    width: fit-content;
    line-height: normal;
}