<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxFlex>
    <div class="grey-container" fxLayout="column" fxLayoutGap="10px" fxFlex="80">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10" fxLayoutGap="5px">
            <div class="title">Lessons</div>
            <button mat-icon-button (click)="onAddLesson()">
                <mat-icon matTooltip="Add" matTooltipPosition="right" class="add-icon">add_circle
                </mat-icon>
            </button>
        </div>
        <mat-form-field class="search-field" [ngClass]="{'hidden': !lessons || lessons?.length == 0}"
            appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search for lesson">
        </mat-form-field>

        <div fxLayout="column">
            <table [ngClass]="{'hidden': !lessons || lessons?.length == 0}" mat-table [dataSource]="lessonsDataSource"
                class="mat-elevation-z8 lessons-table" matSort multiTemplateDataRows>
                <ng-container matColumnDef="id">
                    <th mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell fxFlex="10" *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell fxFlex="30" *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell fxFlex="30" *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="learningTime">
                    <th mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header> Learning Time </th>
                    <td mat-cell fxFlex="15" *matCellDef="let element"> {{element.learningTime}} </td>
                </ng-container>

                <ng-container matColumnDef="requiredPoints">
                    <th mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header> Required points </th>
                    <td mat-cell fxFlex="15" *matCellDef="let element"> {{element.requiredPoints}} </td>
                </ng-container>

                <ng-container matColumnDef="programmingLanguage">
                    <th mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header> Programming Language </th>
                    <td mat-cell fxFlex="20" *matCellDef="let element">
                        {{element.programmingLanguage}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell fxFlex="10" *matHeaderCellDef></th>
                    <td mat-cell fxFlex="10" *matCellDef="let element">
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
                            <button mat-icon-button (click)="onEditLesson(element.id, $event)" class="icon-button"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="onDeleteLesson(element.id, $event)" class="icon-button"
                                color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button aria-label="Expand lesson"
                                (click)="onToggleExpandLesson(element, $event)">
                                <mat-icon *ngIf="expandedLesson !== element">keyboard_arrow_down</mat-icon>
                                <mat-icon *ngIf="expandedLesson === element">keyboard_arrow_up</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedLesson">
                    <td class="expanded-row-cell" mat-cell *matCellDef="let element"
                        [attr.colspan]="displayedColumns.length ">
                        <div *ngIf="element == expandedLesson" class="learning-path-table"
                            [@detailExpand]="element == expandedLesson ? 'expanded' : 'collapsed'">
                            <learning-path-table [lessonId]="element.id" [learningPaths]="element.learningPaths"
                                [listItemSymbolType]="2" (onReload)="onReload($event)">
                            </learning-path-table>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="lesson-row"
                    [class.expanded-row]="expandedLesson === element" (click)="onToggleExpandLesson(element, $event)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedLesson']" class="learning-path-row"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="displayedColumns?.length">No data matching the filter.</td>
                </tr>
            </table>
            <mat-paginator [ngClass]="{'hidden': !lessons || lessons?.length == 0}" [pageSizeOptions]="[4, 8, 16, 32]"
                aria-label="Select lessons page">
            </mat-paginator>
        </div>

        <div *ngIf="!lessons || lessons?.length == 0" fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <mat-icon class="no-results-icon">sentiment_dissatisfied</mat-icon>
            <div class="no-results">No results to display.</div>
        </div>
    </div>
</div>