@import './../../../variables.scss';


.user-background {
    padding-top: 40px;
}

.achievements-container {
    height: fit-content;
    min-height: 200px;
}

.profile-container {
    width: 80%;
    max-height: 100% !important;
}

.title {
    font-size: 17px;
    font-family: ui-sans-serif;
    font-weight: 600;
}

.label {
    font-size: 16px;
    font-weight: 600;
    font-family: ui-sans-serif;
}

.info-container,
.achievement {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: ui-sans-serif;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}

.achievement-list,
.achievement {
    width: 100%;
}

.section {
    padding-bottom: 5px;
    border-bottom: 1.5px solid $indigo;
}

.title-section {
    width: 50%;
}

.profile-icon {
    font-size: 120px;
    height: 120px;
    width: 120px;
    margin-top: -70px;
}

.chart-container {
    position: relative;
}

.bold {
    font-weight: 600;
}