<div class="background-1 user-background" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
    fxLayoutAlign="center start" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxFlex
    fxLayoutGap="35px">
    <div class="grey-container achievements-container" fxFlex="25" fxLayout="column" fxLayoutGap="10px"
        fxLayoutAlign="start center">
        <mat-icon class="profile-icon">account_circle</mat-icon>
        <div class="title">{{user?.username}}</div>
        <div class="achievement-list" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start">
            <div *ngFor="let achievement of achievements" class="achievement" fxLayout="row" fxLayoutGap="5px">
                <mat-icon>military_tech</mat-icon>
                <div fxLayout="column" fxLayoutGap="5px">
                    <div class="bold">{{achievement.achievementName}}</div>
                    <div>{{achievement.achievementDescription}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-container profile-container" fxFlex="70" fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutGap="5px" class="section title-section">
            <mat-icon>person</mat-icon>
            <div class="title">Personal info </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
            <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex fxLayout="column" fxLayoutGap="5px">
                    <div class="label">First name</div>
                    <div class="info-container">{{user?.firstName}}</div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutGap="5px">
                    <div class="label">Last name</div>
                    <div class="info-container">{{user?.lastName}}</div>
                </div>
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex fxLayout="column" fxLayoutGap="5px">
                    <div class="label">Username</div>
                    <div class="info-container">{{user?.username}}</div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutGap="5px">
                    <div class="label">Email address</div>
                    <div class="info-container">{{user?.emailAddress}}</div>
                </div>
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="start center" fxLayoutGap="20px">
                <div *ngIf="user?.phoneNumber" fxFlex fxLayout="column" fxLayoutGap="5px">
                    <div class="label">Phone number</div>
                    <div class="info-container">{{user?.phoneNumber}}</div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutGap="5px">
                    <div class="label">Points</div>
                    <div class="info-container" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                        <mat-icon color="primary">diamond</mat-icon>
                        <div>{{user?.points}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="section title-section">
            <mat-icon>insights</mat-icon>
            <div class="title">Statistics </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px grid">
            <div *ngFor="let chart of charts" class="chart-container" fxFlex>
                <canvasjs-chart class="canvas" [options]="chart">
                </canvasjs-chart>
            </div>
        </div>
    </div>
</div>