<inline-edit *ngIf="!isReadonly" fxFlex class="inline-edit" [label]="'Answer'" [(value)]="choices[0].text"
    [hideDeleteButton]="true" (onFinish)="onFinish($event)">
</inline-edit>
<div class="readonly-answer" *ngIf="isReadonly">{{choices[0].text}}</div>