@import './../../../../variables.scss';

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: lightgrey;
}

.choices {
    overflow-y: auto;
}

.inline-edit {
    cursor: pointer;
    padding: 3px;
}

.readonly-answer {
    margin-top: 15px;
}