<div fxLayout="column" fxFlex>
    <app-toolbar [appLogo]="appLogo" [appTitle]="appTitle" [toolbarMenuItems]="toolbarMenuItems"
        [toolbarSimpleItems]="simpleToolbarItems">
    </app-toolbar>
    <div fxFlex fxLayout="column">
        <router-outlet></router-outlet>
    </div>
</div>