<div fxLayout="column">
    <div *ngIf="data?.title" class="title">
        {{data?.title}}
    </div>
    <div fxLayout="column" fxLayoutGap="10px" *ngFor="let text of data?.texts" class="content">
        {{text}}
    </div>
    <div *ngFor="let field of data?.fields">
        <div *ngIf="field.type === fieldTypeEnum.MultiselectAutocomplete">
            <multiselect-autocomplete [label]="field?.label" [modelControl]="field.model" [options]="field?.options">
            </multiselect-autocomplete>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" class="actions">
        <button *ngFor="let button of data?.actionButtons" (click)="data?.onActionPerformed(button.action)"
            mat-raised-button>
            <mat-icon *ngIf="button?.icon">
                {{button.icon}}
            </mat-icon>
            <div *ngIf="button?.text">
                {{button.text}}
            </div>
        </button>
    </div>
</div>