:host {
    width: 100%;
}

td .line {
    width: 3px;
    background-color: green;
    height: 30px;
    position: absolute;
    margin-left: 3px;
}

td.mat-cell:first-of-type {
    padding: 10px !important;
}

.hidden {
    display: none;
}

.line-cell {
    width: 20px;
}

.list-bullet {
    color: green;
    font-size: 30px;
    width: inherit;
    position: relative;
}

.learning-paths-table {
    width: 100%;
}