<table mat-table [dataSource]="learningPathsDataSource" class="learning-paths-table">
    <ng-container *ngIf="listItemSymbolType == listItemSymbolTypeEnum.Bullet" matColumnDef="line">
        <td class="line-cell" mat-cell *matCellDef="let element; let i = index">
            <li class="list-bullet">
                <div class="line" [ngClass]="{'hidden': i == learningPathsDataSource.data?.length - 1}"></div>
            </li>
        </td>
    </ng-container>

    <ng-container *ngIf="listItemSymbolType == listItemSymbolTypeEnum.Arrow" matColumnDef="line">
        <td at-cell *matCellDef="let element; let i = index">
            <mat-icon color="primary">chevron_right</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="noLearningHours">
        <td mat-cell *matCellDef="let element"> {{element.noLearningHours}} minutes </td>
    </ng-container>

    <ng-container matColumnDef="learningLevel">
        <td mat-cell *matCellDef="let element">
            {{element.learningLevel}}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onEditLearningPath(element.id)" color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onUnlinkLearningPath(element.id)" color="warn">
                <mat-icon>link_off</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="displayedColumns?.length">No Learning Paths linked.</td>
    </tr>
</table>