@import "./../../../variables.scss";

.home-page-content {
    padding: 30px;
}

.learning-path-card {
    color: white;
    background-color: $indigo;
    height: 220px;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }
}

.card-title {
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
}

.card-description {
    overflow-y: auto;
}

.code-icon {
    font-weight: bold;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.footer {
    background-color: $indigo;
    padding-left: 15px;
    padding-right: 15px;

    a {
        color: whitesmoke;
    }

    .social {
        transform: scale(0.8);
        transition: 0.5s;
    }

    .social:hover {
        transform: scale(1.1);
    }

    .facebook-icon:hover {
        color: darkblue;
    }

    .twitter-icon:hover {
        color: #4099FF;
    }

    .google-icon:hover {
        color: #d34836;
    }

    .mail-icon:hover {
        color: #f39c12;
    }

    .copyright-section {
        border-top: 1px solid rgba(1, 1, 1, 0.2);
        color: white;
    }
}