<div fxFlex fxLayout="column">
    <mat-carousel [maintainAspectRatio]="false" slideHeight="650px" timings="250ms ease-in" [autoplay]="false"
        [hideArrows]="false" [interval]="5000" [slides]="carouselUrls?.length" [loop]="true" orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of carouselUrls; let i = index" [image]="slide"
            overlayColor="#00000040" [hideOverlay]="false">
        </mat-carousel-slide>
    </mat-carousel>
    <div fxFlex class="home-page-content" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
        <div fxFlex="50" fxFlex.xs="100%" *ngFor="let learningPath of learningPaths"
            (click)="onOpenLearningPath(learningPath.id)">
            <mat-card fxLayout="column" class="learning-path-card">
                <div class="card-title" fxLayout="row" fxLayoutGap="5px">
                    <mat-icon color="primary" class="code-icon">code</mat-icon>
                    <div>{{learningPath.title}}</div>
                </div>
                <div class="card-description" fxFlex="70">
                    {{learningPath.description}}
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                        <div><b>Estimated time: </b>{{learningPath.noLearningHours}}</div>
                        <mat-icon>schedule</mat-icon>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                        <div><b>Level: </b></div>
                        <mat-icon matTooltip="{{learningPath.learningLevel}}" matTooltipPosition="right"
                            class="{{learningPath.learningLevelIcon.color}}">
                            {{learningPath.learningLevelIcon.icon}}</mat-icon>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div fxFlex="150px" class="footer" fxLayout="column">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x social facebook-icon"></i></a>
            <a href="https://twitter.com"><i class="fa fa-twitter-square fa-3x social twitter-icon"></i></a>
            <a href="https://plus.google.com"><i class="fa fa-google-plus-square fa-3x social google-icon"></i></a>
            <a href="mailto:#"><i class="fa fa-envelope-square fa-3x social mail-icon"></i></a>
        </div>
        <div fxFlex="40" fxLayout="row" class="copyright-section" fxLayoutAlign="center center">
            © 2022 Copyright: eLearningApp
        </div>
    </div>
</div>