<div class="background" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <mat-card fxFlex="35" class="registration-container" fxLayout="column" fxLayoutGap="25px">
        <div class="title" fxLayout="row" fxLayoutGap="5px" fxFlex="15" fxLayoutAlign="center center">
            <div>Register</div>
        </div>
        <div class="register-form-group" fxLayout="column" fxFlex="50" fxLayoutGap="10px" fxLayoutAlign="center">
            <div fxLayout="row" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>First name</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('firstName')" required>
                    <mat-error *ngIf="formGroup.getFormControl('firstName').errors?.['required']">The First Name field
                        is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>Last name</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('lastName')" required>
                    <mat-error *ngIf="formGroup.getFormControl('lastName').errors?.['required']">The Last Name field is
                        required
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>Email Address</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('emailAddress')" required>
                    <mat-error *ngIf="formGroup.getFormControl('emailAddress').errors?.['required']">The
                        Email Address
                        field
                        is
                        required
                    </mat-error>
                    <mat-error *ngIf="formGroup.getFormControl('emailAddress').errors?.['email']">The Email Address
                        field
                        must have an email format
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>Phone number</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('phoneNumber')" required>
                    <mat-error *ngIf="formGroup.getFormControl('phoneNumber').errors?.['required']">The Phone number
                        field
                        is
                        required
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>Username</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('username')" required>
                    <mat-error *ngIf="formGroup.getFormControl('username').errors?.['required']">The Username field
                        is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput
                        [formControl]="formGroup.getFormControl('password')" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formGroup.getFormControl('password').errors?.['required']">The Password field is
                        required
                    </mat-error>
                    <mat-error *ngIf="formGroup.getFormControl('password').errors?.['minlength']">The password field
                        must have at least
                        {{passwordMinLength}} characters
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
                <mat-form-field appearance="standard" color="primary" fxFlex>
                    <mat-label>Address</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('address')" required>
                    <mat-error *ngIf="formGroup.getFormControl('address').errors?.['required']">The Address field
                        is
                        required
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="showApiError" fxLayout="row" fxFlex fxLayoutAlign="center center">
                {{errorMessage}}
            </mat-error>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button class="register-button" fxLayout="row" fxLayoutAlign="center center" fxFlex="80" mat-raised-button
                (click)="onRegister()">
                Submit
            </button>
        </div>
    </mat-card>
</div>