@import "./../../../variables.scss";

.background {
    background-image: url("/assets/Images/background_blurred_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.registration-container {
    padding: 0px 0px 20px 0px;
}

.title {
    font-size: 26px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: $arial;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

::ng-deep .register-form-group {
    .mat-form-field-appearance-standard .mat-form-field-flex {
        padding-top: unset;
        display: flex;
        align-items: center;
        color: #000;
    }

    .mat-form-field-infix {
        border-top: unset;
        width: unset;
    }
    
    // .mat-form-field-appearance-standard .mat-form-field-underline {
    //     background-color: #fff;
    // }

    mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
        color: #000;
    }

    // .mat-form-field-empty.mat-form-field-label {
    //     color: #fff;
    // }
    
    // .mat-form-field-label {
    //     color: #fff;
    // }
    padding-right: 5%;
    padding-left: 5%;
}

:host ::ng-deep .mat-form-field-suffix .mat-icon-button {
    height: 20px !important;
    width: 20px !important;
}

.register-button {
    background-color: $toolbar-black;
    color: #fff;
}