<div class="background" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <mat-card fxFlex="30" class="login-container" fxLayout="column" fxLayoutGap="25px">
        <div class="title" fxLayout="row" fxLayoutGap="5px" fxFlex="15" fxLayoutAlign="center center">
            <div>Login</div>
        </div>
        <div class="login-form-group" fxLayout="column" fxFlex="40" fxLayoutAlign="center" fxLayoutGap="5px">
            <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                <mat-form-field appearance="standard" fxFlex="80">
                    <mat-label>Username</mat-label>
                    <input matInput [formControl]="formGroup.getFormControl('username')" required>
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error class="error" *ngIf="formGroup.getFormControl('username').errors?.['required']">The
                        Username field is
                        required
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex fxLayoutAlign="center center">
                <mat-form-field appearance="standard" fxFlex="80">
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput
                        [formControl]="formGroup.getFormControl('password')" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="error" *ngIf="formGroup.getFormControl('password').errors?.['required']">The
                        Password field is
                        required
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-error *ngIf="showApiError" fxLayout="row" fxFlex fxLayoutAlign="center center">
                {{errorMessage}}
            </mat-error>
        </div>
        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
            <button class="login-button" fxLayou="row" fxLayoutAlign="center center" mat-raised-button
                (click)="onAuthenticate()">
                <mat-icon class="login-icon">login</mat-icon>
                LOGIN
            </button>
            <div class="no-account" (click)="onGoToRegister()">
                Don't have an account? Register
            </div>
        </div>
    </mat-card>
</div>