@import "./../../../variables.scss";

.background {
    background-image: url('../../../assets/Images/background_blurred_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    height: 50%;
    padding: 0px;
    color: #fff;
    background-color: white;
}

.title {
    font-size: 26px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: $arial;
    color: #000;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

::ng-deep .login-form-group { 
    .mat-form-field-appearance-standard .mat-form-field-flex {
        padding-top: unset;
        display: flex;
        align-items: center;
        color: $indigo;
    }

    .mat-form-field-infix {
        border-top: unset;
        width: unset;
    }

    mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
        color: #000;
    }
}

.login-icon {
    margin-right: 5px;
}

.login-button {
    width: 80%;
    background-color: $toolbar-black;
    color: #fff;
}

:host ::ng-deep .mat-form-field-suffix .mat-icon-button {
    height: 20px !important;
    width: 20px !important;
}

.error {
    margin-bottom: 5px;
}

.no-account {
    color: #0645AD;
    cursor: pointer;
}