<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxFlex>
    <div class="grey-container" fxLayout="column" fxFlex="80" fxLayoutGap="15px">
        <div class="title" fxLayout="row" fxFlex="5">
            {{learningPath?.title }}
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
            <div>Complete - {{percentComplete | number : '1.0-2'}} %</div>
            <mat-progress-bar color="primary" mode="determinate" [value]="percentComplete" class="lessons-progress-bar">
            </mat-progress-bar>
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
            <div>In progress - {{percentInProgress | number : '1.0-2'}} %</div>
            <mat-progress-bar color="primary" mode="determinate" [value]="percentInProgress"
                class="lessons-progress-bar">
            </mat-progress-bar>
        </div>
        <div fxFlex="20">
            {{learningPath?.description}}
        </div>
        <lessons-table [clickable]="true" [lessons]="learningPath?.lessons" (rowClick)="onClickLesson($event)">
        </lessons-table>
    </div>
</div>