.title {
    font-size: 20px;
    font-weight: 600;
}

:host ::ng-deep lessons-table table {
    background-color: transparent !important;
}

.lessons-progress-bar {
    width: 300px;
    height: 7px;
    border-radius: 5px;
}

lessons-table {
    margin-top: 10px;
}