<mat-form-field appearance="standard">
    <mat-label>{{label}}</mat-label>
    <mat-select [formControl]="modelControl" (closed)="onSelectClosed($event)" multiple disableOptionCentering>
        <div fxLayout="row" class="search-container">
            <mat-form-field fxFlex="90" appearance="standard" class="search-field">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="filterControl" (keyup)="onFilterChange()"
                    (keydown)="handleKeyDown($event)">
            </mat-form-field>
        </div>
        <mat-option *ngFor="let option of filteredOptions" [value]="option.id">{{option.name}}</mat-option>
    </mat-select>
</mat-form-field>