.title {
    font-size: 26px;
    font-weight: 600;
}

.next-lesson {
    height: fit-content;
}

.next-lesson-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.next-lesson-text {
    font-weight: 600;
    font-size: 16px;
}