<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px" fxFlex>
    <div class="grey-container" fxLayout="column" fxFlex="70" fxLayoutGap="25px">
        <div class="title" fxLayout="row" fxFlex="5">
            {{lessonLearningPath?.title }}
        </div>
        <div [innerHtml]="lessonLearningPath?.content" fxFlex>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="15">
            <button mat-raised-button color="primary" (click)="onTakeQuiz()">Take quiz</button>
        </div>
    </div>
    <div class="grey-container next-lesson" fxFlex="25" fxLayout="column" fxLayoutGap="10px">
        <div class="next-lesson-text">Up next: </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="75" class="next-lesson-link" (click)="onOpenNextLesson(lessonLearningPath?.nextLesson?.id)">
                {{lessonLearningPath?.nextLesson?.title}}</div>
            <div *ngIf="lessonLearningPath?.nextLesson?.requiredPoints > 0 && !lessonHasSession(lessonLearningPath?.nextLesson?.id)"
                fxLayout="row" fxLayoutGap="5px">
                <span>- {{lessonLearningPath?.nextLesson?.requiredPoints}}</span>
                <mat-icon color="warn">diamond</mat-icon>
            </div>
        </div>
    </div>
</div>