<div fxLayout="column" fxFlex fxLayoutGap="5px">
    <div fxFlex="20" fxLayout="row" class="quiz-title">
        <mat-form-field fxFlex="50" fxFlex.xs="80" appearance="standard" class="form-field">
            <mat-label>Quiz title</mat-label>
            <input matInput maxlength="255" [formControl]="quizTitleControl" (keyup)="onTitleChange($event)">
            <mat-error *ngIf="quizTitleControl.errors?.['required'] && quizTitleControl.touched">
                The Title field is mandatory.
            </mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="75" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="cards" fxLayout="column" fxLayoutGap="10px">
            <question-config class="question-config" [canNotEdit]="anyQuestionInEditOrAddMode" [question]="question"
                *ngFor="let question of quiz?.questions" fxLayout="column" (onCancel)="onCancel($event)"
                (onDelete)="onDeleteQuestion($event)" (onFinishOperation)="onFinish($event)">
            </question-config>
        </div>
        <mat-card class="buttons-card" fxLayout="column" fxLayoutGap="5px">
            <button [disabled]="anyQuestionInEditOrAddMode" matTooltip="Add question" matTooltipPosition="left"
                aria-label="Add Question" class="icon-button" mat-mini-fab color="primary" (click)="onAddQuestion()">
                <mat-icon>add</mat-icon>
            </button>
            <button [disabled]="quiz?.questions.length == 0" matTooltip="Delete questions" matTooltipPosition="left"
                aria-label="Delete questions" class="icon-button" mat-mini-fab color="warn"
                (click)="onDeleteAllQuestions()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card>
    </div>
</div>