::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: lightgrey;
}

.icon-button {
    width: fit-content;
    height: fit-content;
    line-height: normal;
}

::ng-deep .buttons-card .mat-button-wrapper {
    padding: 2px !important;
}

:host ::ng-deep .mat-form-field-flex {
    padding-top: 0px !important;
}

.question-config {
    min-height: 220px;
}

.buttons-card,
.question-card {
    padding: 10px;
    height: fit-content;
}

.quiz-title {
    margin-bottom: 10px !important;
}

.cards {
    overflow-y: auto;
}