<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxFlex>
    <div class="grey-container" fxLayout="column" fxFlex="80" fxLayoutGap="5px">
        <div *ngIf="!isEditMode" class="title" fxLayout="row" fxFlex="5">
            {{isEditMode ? 'Edit learning path' : 'Add learning path'}}
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px" fxLayoutGap.xs="0px"
            fxLayoutGap.sm="0px" class="learning-path-config">
            <mat-form-field fxFlex="50" appearance="standard">
                <mat-label>Title</mat-label>
                <input matInput [formControl]="learningPathFormGroup.getFormControl('title')" required maxLength="255">
                <mat-icon class="icon" matSuffix>book</mat-icon>
                <mat-error *ngIf="learningPathFormGroup.getFormControl('title').errors?.['required']">
                    The
                    Title field is required.
                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxFlex fxLayoutGap="20px">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Programming Language</mat-label>
                    <mat-select [formControl]="learningPathFormGroup.getFormControl('programmingLanguage')"
                        disableOptionCentering>
                        <mat-option [value]="programmingLanguage.id"
                            *ngFor="let programmingLanguage of programmingLanguages">
                            {{programmingLanguage.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="learningPathFormGroup.getFormControl('programmingLanguage').errors?.['required']">
                        The
                        Programming Language field is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Learning level</mat-label>
                    <mat-select [formControl]="learningPathFormGroup.getFormControl('learningLevel')"
                        disableOptionCentering>
                        <mat-option [value]="1">
                            Beginner
                        </mat-option>
                        <mat-option [value]="2">
                            Intermediate
                        </mat-option>
                        <mat-option [value]="2">
                            Advanced
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="learningPathFormGroup.getFormControl('learningLevel').errors?.['required']">
                        The
                        Learning level field is required.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field appearance="fill">
            <textarea class="description-area" placeholder="Description" cdkTextareaAutosize
                [formControl]="learningPathFormGroup.getFormControl('description')" required matInput
                type="text"></textarea>
            <mat-error *ngIf="learningPathFormGroup.getFormControl('description').errors?.['required']">
                The
                Description field is required.
            </mat-error>
        </mat-form-field>
        <button [disabled]="!learningPath.id" class="add-button" mat-raised-button (click)="onAddLesson()">
            <mat-icon color="primary">add_circle
            </mat-icon>
            Add lesson
        </button>
        <lessons-table *ngIf="learningPath?.lessons && learningPath?.lessons?.length > 0"
            [lessons]="learningPath?.lessons" [clickable]="true" [actions]="lessonActions"
            (rowClick)="onEditLesson($event)"></lessons-table>
        <div fxLayout="row" fxLayoutAlign="end end" class="button-container">
            <button mat-raised-button (click)="onSave()" color="primary">
                Save learning path
            </button>
        </div>
    </div>
</div>