:host {
    overflow-y: hidden;
}

.grey-container {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: lightgrey;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

::ng-deep .learning-path-config .mat-form-field-flex {
    padding-top: 0px !important;
}

.description-area {
    height: 200px !important;
}


.add-button {
    width: fit-content;
}

.button-container {
    margin-top: 5px;
}