@import './../../../variables.scss';

.title {
    font-size: 26px;
    font-weight: 600;
}

.info-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.question-text {
    font-weight: 600;
}

.question-container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.lessons-progress-bar {
    width: 300px;
    height: 7px;
    border-radius: 5px;
}

:host ::ng-deep .mat-progress-bar-fill::after {
    background-image: $green-gradient;
}

.check-icon {
    color: green;
}