<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px" fxFlex>
    <div class="grey-container" fxLayout="column" fxFlex="70" fxLayoutGap="25px">
        <div class="title" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" fxFlex="5">
            <div>{{quiz?.title }}</div>
            <mat-icon [matTooltip]="tooltipInfo" matTooltipPosition="right" color="primary" class="info-icon">info
            </mat-icon>
        </div>
        <div>Question {{currentQuestionIndex + 1}} of {{quiz?.questions.length}}</div>
        <mat-progress-bar mode="determinate" [value]="percentComplete" class="lessons-progress-bar"></mat-progress-bar>
        <div fxLayout="column" class="question-container" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="question-text">{{currentQuestion.text}}</div>
                <div *ngIf="!hasAnswer()" fxLayout="row" fxLayoutGap="5px">
                    <span>{{currentQuestion.rewardPoints}}</span>
                    <mat-icon color="primary">diamonds</mat-icon>
                </div>
                <div *ngIf="hasCorrectAnswer()" fxLayout="row" fxLayoutGap="5px">
                    <mat-icon class="check-icon">check</mat-icon>
                </div>
                <div *ngIf="hasIncorrectAnswer()" fxLayout="row" fxLayoutGap="5px">
                    <mat-icon color="warn">close</mat-icon>
                </div>
            </div>
            <mat-error *ngIf="error">Wrong answer! Please try again</mat-error>
            <div *ngIf="currentQuestion.questionType == questionTypeEnum.SingleChoice">
                <mat-radio-group fxLayout="column" fxLayoutGap="10px" aria-labelledby="answers"
                    [formControl]="answersFormControl">
                    <mat-radio-button *ngFor="let choice of currentQuestion.choices" [value]="choice.id">
                        {{choice.text}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="currentQuestion.questionType == questionTypeEnum.MultipleChoice" fxLayout="column"
                fxLayoutGap="10px">
                <div *ngFor="let choice of currentQuestion.choices">
                    <mat-checkbox (change)="onCheckboxStateChange($event, choice)">
                        {{choice.text}}
                    </mat-checkbox>
                </div>
            </div>
            <div *ngIf="currentQuestion.questionType == questionTypeEnum.WrittenAnswer">
                <mat-form-field fxFlex="90" appearance="standard">
                    <mat-label>Answer</mat-label>
                    <input matInput [formControl]="answersFormControl" placeholder="Type the answer">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                <button *ngIf="currentQuestionIndex > 0" mat-raised-button color="primary"
                    (click)="onClickPrev()">Previous</button>
                <button *ngIf="currentQuestionIndex < quiz?.questions.length - 1" mat-raised-button color="primary"
                    (click)="onClickNext()" [disabled]="answersFormControl.invalid">Next</button>
                <button *ngIf="currentQuestionIndex == quiz?.questions.length - 1" mat-raised-button color="primary"
                    (click)="onFinish()" [disabled]="answersFormControl.invalid">Finish</button>
            </div>
        </div>
    </div>
</div>