<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxFlex>
    <div class="grey-container" fxLayout="column" fxLayoutGap="10px" fxFlex="80">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10" fxLayoutGap="5px">
            <div class="title">Learning Paths</div>
            <button (click)="onAddLearningPath()" *ngIf="isAdmin" mat-icon-button>
                <mat-icon matTooltip="Add" matTooltipPosition="right" class="add-icon">add_circle</mat-icon>
            </button>
        </div>
        <div fxFlex *ngIf="learningPaths && learningPaths.length > 0" fxLayout="row wrap" fxLayoutGap="15px grid">
            <div fxFlex="50" fxFlex.xs="100%" *ngFor="let learningPath of learningPathObservables | async">
                <mat-card fxLayout="column" fxLayoutGap="15px" class="card"
                    (click)="onEditLearningPath(learningPath.id)">
                    <div class="card-title" fxLayout="row" fxLayoutGap="5px">
                        <mat-icon color="primary" class="code-icon">code</mat-icon>
                        <div>{{learningPath.title}}</div>
                    </div>
                    <div class="card-description" fxFlex="70">
                        {{learningPath.description}}
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                            <div><b>Estimated time: </b>{{learningPath.noLearningHours}}</div>
                            <mat-icon>schedule</mat-icon>
                        </div>
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                            <div><b>Level: </b></div>
                            <mat-icon matTooltip="{{learningPath.learningLevel}}" matTooltipPosition="right"
                                class="{{learningPath.learningLevelIcon.color}}">
                                {{learningPath.learningLevelIcon.icon}}</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div *ngIf="!learningPaths || learningPaths.length == 0" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="no-results-icon">sentiment_dissatisfied</mat-icon>
            <div class="no-results">No results to display.</div>
        </div>
        <div fxFlex="10" class="paginator-container">
            <mat-paginator [pageSizeOptions]="[4, 8, 16, 32]"></mat-paginator>
        </div>
    </div>
</div>