@import "./../../../variables.scss";

.title {
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.no-results {
    font-size: 20px;
    font-weight: bold;
}

.no-results-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.add-icon {
    color: green;
    font-size: 25px;
    width: 25px;
    height: 25px;
}

.card {
    padding: 15px !important;
    height: 350px;

    &:hover {
        transform: scale(1.01);
        cursor: pointer;
    }
}

.card-title {
    font-size: 20px;
    display: flex;
}

.card-description {
    overflow-y: auto;
}

.code-icon {
    font-weight: bold;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.color-green {
    color: green;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.paginator-container {
    margin-top: 10px;

    ::ng-deep .mat-paginator {
        background: transparent;
    }
}