<div fxFlex class="background-1" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div [@fader]="isInitialized ? 'after' : 'before'" class="grey-container" fxLayout="column" fxFlex="50"
        fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutAlign="center start">
            <span class="title">Contact us</span>
            <span class="subtitle">Have anything to say? Please let us know by sending us a message!</span>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex fxLayout="column">
                <mat-form-field appearance="standard" class="width-60">
                    <mat-label>First and last name</mat-label>
                    <input [formControl]="contactFormGroup.getFormControl('name')" required matInput type="text"
                        maxlength="255">
                </mat-form-field>
                <mat-error
                    *ngIf="contactFormGroup.getFormControl('name')?.errors?.['required'] && contactFormGroup.getFormControl('name').touched">
                    This field is mandatory
                </mat-error>
            </div>
            <div fxFlex fxLayout="column">
                <mat-form-field appearance="standard" class="width-60">
                    <mat-label>Email address</mat-label>
                    <input [formControl]="contactFormGroup.getFormControl('emailAddress')" required matInput type="text"
                        maxlength="255">
                </mat-form-field>
                <mat-error
                    *ngIf="contactFormGroup.getFormControl('emailAddress')?.errors?.['required'] && contactFormGroup.getFormControl('emailAddress').touched">
                    This field is mandatory
                </mat-error>
                <mat-error *ngIf="contactFormGroup.getFormControl('emailAddress')?.errors?.['email']">
                    Please provide a valid email address (eg. user@domain.com)
                </mat-error>
            </div>
        </div>
        <mat-form-field appearance="standard" class="width-60">
            <mat-label>Subject</mat-label>
            <input [formControl]="contactFormGroup.getFormControl('subject')" required matInput type="text"
                maxlength="255">
        </mat-form-field>
        <mat-error
            *ngIf="contactFormGroup.getFormControl('subject')?.errors?.['required'] && contactFormGroup.getFormControl('subject').touched">
            This field is mandatory
        </mat-error>
        <mat-form-field class="content-area" fxFlex appearance="fill">
            <mat-label>Message</mat-label>
            <textarea cdkTextareaAutosize [formControl]="contactFormGroup.getFormControl('content')" required matInput
                type="text" maxlength="600"></textarea>
        </mat-form-field>
        <mat-error
            *ngIf="contactFormGroup.getFormControl('content')?.errors?.['required'] && contactFormGroup.getFormControl('content').touched">
            This field is mandatory
        </mat-error>
        <div fxLayout="row">
            <button mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="contactFormGroup.invalid || contactFormGroup.untouched">Submit</button>
        </div>
    </div>
    <div [@fader]="isInitialized ? 'after' : 'before'" fxFlex="35" fxLayout="column" fxLayoutGap="15px"
        class="info-section">
        <div fxFlex class="info-card">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2855.0574171508865!2d23.832891414691233!3d44.30877011781053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d702cd0f3173%3A0xb159446a3e899375!2sFacultatea%20de%20Automatic%C4%83%2C%20Calculatoare%20%C8%99i%20Electronic%C4%83!5e0!3m2!1sro!2sro!4v1649711523320!5m2!1sro!2sro"
                width="100%" height="100%" style="border:0;" allowfullscreen="false" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div fxFlex class="info-card" fxLayout="column">
            <div class="section-title">About us</div>
            <div>This is an electronic learning project developed for educational purposes only. This project serves as
                a Bachelor Project.</div>
            <div class="section-title">Address</div>
            <div>Bulevardul Decebal 107, Craiova 200776</div>
            <div class="section-title">Email address</div>
            <div>testEmail@domain.com </div>
        </div>
    </div>
</div>