.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 15px;
}

.section-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

:host ::ng-deep .content-area .mat-form-field-wrapper {
    height: 100%;
}

:host ::ng-deep .content-area .mat-form-field-flex {
    height: 100%;
}

:host ::ng-deep .mat-form-field-infix {
    border: none;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding: 0px !important;
}

:host ::ng-deep .mat-form-field-underline {
    bottom: 0 !important;
}

.info-card {
    background-color: #1f1f1f;
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.info-section {
    height: 100%;
}

.map {
    border-radius: 5px;
}