@import './variables.scss';

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.black-and-white {
    filter: grayscale(100%) !important;
}

.invert-colors {
    filter: invert(100%);
}

app-root {
    flex: 1 1 auto;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

app-root> :first-child> :nth-child(2)> :nth-child(2) {
    flex: 1;
}

app-root> :first-child> :nth-child(2) {
    overflow-y: auto;
}

.grey-container {
    background: $grey-gradient;
    border-radius: 5px;
    height: 100%;
    padding: 30px;
}

.background-1 {
    background-image: url('./assets/Images/background_blurred_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-indigo {
    color: rgb(63, 81, 181);
}