@import '~@angular/material/theming';
@include mat-core();

.alternate-theme {
  $alternate-primary: mat-palette($mat-indigo);
  $alternate-accent: mat-palette($mat-pink, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

$arial: Arial, Helvetica, sans-serif;
$indigo: rgb(63, 81, 181);
$pink: #ff4081;
$grey-gradient: linear-gradient(45deg, #e6e6e6, #e1e1e1, #e3e3e3, #fff);
$green-gradient: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
$toolbar-black: #1f1f1f;