@import '../../../variables.scss';

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: lightgrey;
}

:host {
    overflow-y: auto;

    mat-stepper {
        overflow-y: auto;
    }
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.editor {
    width: 100%;
}

::ng-deep .grey-container {
    .mat-stepper-horizontal {
        background-color: transparent !important;
    }

    .mat-horizontal-stepper-header-container {
        max-width: 70%;
    }

    .mat-step-header:first-of-type {
        padding-left: 0px !important;
    }

    .mat-horizontal-content-container {
        padding-left: 0px;
        height: 100%;
    }

    .mat-horizontal-stepper-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .mat-form-field-subscript-wrapper {
        overflow: visible !important;
    }
}

.add-link-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.submit-button {
    margin-top: 10px;
}

.single-line-error {
    max-width: 150px;
    overflow: visible;
    white-space: nowrap;
}

.button-border {
    height: 30px;
    width: 100px;
    border-left: 1.5px solid $indigo;
    border-bottom: 1.5px solid $indigo;
    border-bottom-left-radius: 4px;
}

.add-link-button {
    transform: translateY(-10px) translateX(-100px);
    transition: transform .3s ease-out;

    &:hover {
        transform: translateY(-6px) translateX(-103px);
    }
}

.quiz-config {
    overflow-y: auto;
}

.button-container {
    margin-top: 10px;
}