<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxFlex>
    <div class="grey-container" fxLayout="column" fxLayoutGap="20px" fxFlex="75" fxFlex.sm="90" fxFlex.xs="90">
        <div *ngIf="!isEditMode" class="title" fxLayout="row" fxFlex="5">
            {{isEditMode ? 'Edit lesson' : 'Add lesson'}}
        </div>
        <mat-stepper fxFlex fxLayout="column">
            <mat-step [stepControl]="settingsFormGroup" fxLayout="row" label="Configure settings">
                <div fxLayout="column" fxFlex="65" fxFlex.sm="95" fxFlex.xs="95">
                    <mat-form-field appearance="standard">
                        <mat-label>Title</mat-label>
                        <input matInput [formControl]="settingsFormGroup.getFormControl('title')" required
                            maxLength="150">
                        <mat-icon class="icon" matSuffix>book</mat-icon>
                        <mat-error class="single-line-error"
                            *ngIf="settingsFormGroup.getFormControl('title').errors?.['required']">
                            The
                            Title field is required.
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-form-field appearance="standard" fxFlex="35">
                            <mat-label>Programming Language</mat-label>
                            <mat-select [formControl]="settingsFormGroup.getFormControl('programmingLanguage')"
                                disableOptionCentering>
                                <mat-option [value]="programmingLanguage.id"
                                    *ngFor="let programmingLanguage of programmingLanguages">
                                    {{programmingLanguage.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="single-line-error"
                                *ngIf="settingsFormGroup.getFormControl('programmingLanguage').errors?.['required']">
                                The
                                Programming Language field is required.
                            </mat-error>
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutGap="5px" fxFlex="40">
                            <mat-form-field appearance="standard" fxFlex="50">
                                <mat-label>Learning time</mat-label>
                                <input matInput type="number"
                                    [formControl]="settingsFormGroup.getFormControl('learningTime')">
                                <mat-error class="single-line-error"
                                    *ngIf="settingsFormGroup.getFormControl('learningTime').errors?.['required']">
                                    The
                                    Learning Time field is required.
                                </mat-error>
                                <mat-error class="single-line-error"
                                    *ngIf="settingsFormGroup.getFormControl('learningTime').errors?.['negativeNumber']">
                                    The
                                    Learning Time field must be positive.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="standard" fxFlex="50">
                                <mat-label>Time</mat-label>
                                <mat-select [formControl]="settingsFormGroup.getFormControl('isLearningTimeInMinutes')"
                                    disableOptionCentering>
                                    <mat-option [value]="true">
                                        Minutes
                                    </mat-option>
                                    <mat-option [value]="false">
                                        Hours
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="linking" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxFlex="35" fxLayoutAlign="start">
                            <mat-form-field fxFlex="70" appearance="standard">
                                <mat-label>Required Points</mat-label>
                                <input matInput type="number"
                                    [formControl]="settingsFormGroup.getFormControl('requiredPoints')">
                                <mat-error class="single-line-error"
                                    *ngIf="settingsFormGroup.getFormControl('requiredPoints').errors?.['required']">
                                    The
                                    Required Points field is mandatory.
                                </mat-error>
                                <mat-error class="single-line-error"
                                    *ngIf="settingsFormGroup.getFormControl('requiredPoints').errors?.['negativeNumber']">
                                    The
                                    Required Points must be positive.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="5px" fxFlex="40" fxLayoutAlign="start center">
                            <span class="button-border"></span>
                            <button class="add-link-button" (click)="onAddLearningPathLink()" mat-raised-button>
                                <mat-icon class="add-link-icon" color="primary">add_link</mat-icon>
                                Add link
                            </button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step fxLayout="column" [stepControl]="contentFormGroup" label="Configure content">
                <mat-error class="single-line-error"
                    *ngIf="contentFormGroup.getFormControl('htmlContent').errors?.['required'] && contentFormGroup.getFormControl('htmlContent').touched">
                    The content for the course is mandatory.
                </mat-error>
                <text-editor [value]="contentFormGroup.getFormControl('htmlContent')?.value"
                    (valueChange)="onContentValueChange($event)"></text-editor>
            </mat-step>
            <mat-step fxLayout="column" label="Configure quiz">
                <quiz-config [quiz]="lesson.quiz" class="quiz-config" fxFlex>
                </quiz-config>
                <div class="button-container" fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button
                        [disabled]="contentFormGroup.invalid || settingsFormGroup.invalid || !lesson?.quiz?.title || !lesson?.quiz?.questions || lesson?.quiz?.questions?.length == 0"
                        (click)="onSaveLesson()">Save</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>