@import "./../../../variables.scss";

:host {
    position: sticky;
    top: 0;
    z-index: 9;
}

.toolbar {
    height: 50px;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    position: relative;
    background-color: $toolbar-black;
    color: #fff;
}

.logo-button {
    line-height: normal;
    width: fit-content;
    height: fit-content;
}

.logo-img {
    height: 32px;
    width: 32px;
}

.items {
    cursor: pointer;
}

.menus {
    height: fit-content;
    vertical-align: center;
    align-self: center;
}

.toolbar-item {
    padding: 5px;
    border-right: 1px solid white;
}