<mat-toolbar class="toolbar" fxLayout="row" fxFlex fxLayoutGap="10px">
    <button mat-icon-button *ngIf="appLogo" class="logo-button" (click)="appLogo.callback()">
        <img class="logo-img" src="{{appLogo.path}}">
    </button>
    <div fxFlex="15">{{appTitle}}</div>
    <span fxFlex></span>
    <div fxLayout="row" fxLayoutGap="10px" class="items">
        <div class="toolbar-item" fxLayout="row" fxLayoutGap="10px" *ngFor="let item of toolbarSimpleItems"
            (click)="item.callback()">
            <div *ngIf="item.itemName">{{item.itemName}}</div>
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
        </div>
        <div class="menus" [ngClass]="{'toolbar-item': i < toolbarMenuItems?.length - 1}" fxLayout="row"
            fxLayoutGap="10px" *ngFor="let item of toolbarMenuItems; let i = index" [matMenuTriggerFor]="menu">
            <div *ngIf="item.itemName">{{item.itemName}}</div>
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let menuItem of item.menuItems" (click)="menuItem.callback()">
                    {{menuItem.itemName}}
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>