<div class="background-1" fxLayout="row" fxLayoutAlign="center" fxFlex>
    <div class="grey-container" fxLayout="column" fxLayoutGap="35px">
        <div class="title" fxLayout="row" fxFlex="5">
            Today's leaderboard
        </div>
        <div fxLayout="row">
            <table mat-table [dataSource]="usersDataSource" class="users-table" fxFlex>
                <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef> Rank </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{ i + 1 }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                            <mat-icon class="account_icon"> account_circle </mat-icon>
                            <div>{{element.userName }} </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="userPoints">
                    <th mat-header-cell *matHeaderCellDef> Points </th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                            <div>{{element.userPoints}} </div>
                            <mat-icon color="primary">diamond</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="correctAnswers">
                    <th mat-header-cell *matHeaderCellDef> Correct answers </th>
                    <td mat-cell *matCellDef=" let element">
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                            <div>{{element.correctAnswers}} </div>
                            <mat-icon class="color-green">check</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="displayedColumns?.length">No users to display</td>
                </tr>
            </table>
        </div>
    </div>
</div>