@import './../../../variables.scss';

:host .grey-container {
    width: 80%;
    height: fit-content;
}

.account-icon {
    font-size: 22px;
    height: 22px;
    width: 22px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.color-green {
    color: green;
}