<div *ngIf="isEditMode" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field appearance="standard" fxFlex="80">
        <mat-label>{{label}}</mat-label>
        <input [formControl]="valueControl" required matInput type="text">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="5px">
        <button [disabled]="valueControl.invalid" (click)="onFinishEdit()" mat-icon-button color="primary"
            class="icon-button">
            <mat-icon class="icon">check</mat-icon>
        </button>
        <button (click)="onCancelOperation()" mat-icon-button color="warn" class="icon-button">
            <mat-icon class="icon">close</mat-icon>
        </button>
    </div>
</div>
<mat-error class="error" *ngIf="valueControl?.errors && isEditMode">
    <div *ngIf="valueControl?.errors['required']">This field is mandatory</div>
    <div *ngIf="!valueControl?.errors['required']">{{getFirstError()}}</div>
</mat-error>
<div *ngIf="!isEditMode" fxLayout="row" fxLayoutAlign="space-between center">
    <div>{{value}}</div>
    <div fxLayout="row" fxLayoutGap="5px">
        <button [disabled]="canNotEdit" (click)="onStartEdit()" mat-icon-button color="primary" class="icon-button">
            <mat-icon class="icon">edit</mat-icon>
        </button>
        <button *ngIf="!hideDeleteButton" [disabled]="deleteButtonDisabled" (click)="onDeleteItem()" mat-icon-button
            color="warn" class="icon-button">
            <mat-icon class="icon">remove</mat-icon>
        </button>
    </div>
</div>